Repository goldfish-inc/deepseek-ocr-vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, golangci-lint, typescript-build-cluster, typescript-build-cloud

.pre-commit-config.yaml:

repos:
  # Core hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Shell syntax + best practices
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        name: shellcheck (scripts)
        types_or: [shell]
        files: ^(scripts/|.*\.sh)$
        args: ["--severity=warning", "--format=gcc"]

  # Strict Bash syntax check (catches here-doc terminator mistakes)
  - repo: local
    hooks:
      - id: bash-n-syntax
        name: bash -n
        entry: bash
        args: ["-n"]
        language: system
        types_or: [shell]
        files: ^(scripts/|.*\.sh)$

  # Shell formatter (keeps heredoc and indent consistent)
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.10.0-1
    hooks:
      - id: shfmt
        args: ["-i", "2", "-ci", "-bn", "-sr"]
        files: ^(scripts/|.*\.sh)$

  # GitHub Actions workflow linter (lints run: sections; integrates with shellcheck if present)
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint-system
        args: ["-shellcheck="]

  # YAML lint (optionally extend later with a .yamllint config)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^(.*\.ya?ml)$
        args: ["-d", "{extends: default, rules: {line-length: disable, document-start: disable, indentation: {indent-sequences: consistent}, comments: {min-spaces-from-content: 1}, brackets: {min-spaces-inside: 0, max-spaces-inside: 1}}}"]

  # Go linting and formatting
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: gofmt -l -w
        language: system
        types: [go]
        pass_filenames: true
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd apps/ls-triton-adapter && golangci-lint run --fix --timeout=5m'
        language: system
        types: [go]
        pass_filenames: false
        files: ^apps/ls-triton-adapter/

  # TypeScript compilation check
  - repo: local
    hooks:
      - id: typescript-build-cluster
        name: TypeScript Build (cluster)
        entry: bash -c 'pnpm --filter @oceanid/cluster build'
        language: system
        types_or: [ts, tsx]
        pass_filenames: false
        files: ^cluster/.*\.ts$
      - id: typescript-build-cloud
        name: TypeScript Build (cloud)
        entry: bash -c 'pnpm --filter @oceanid/cloud build'
        language: system
        types_or: [ts, tsx]
        pass_filenames: false
        files: ^cloud/.*\.ts$

feat(csv-worker): preserve UTF-8 diacritics in extraction pipeline (#261)
  apps/csv-ingestion-worker/go.mod
  apps/csv-ingestion-worker/processor.go
  apps/csv-ingestion-worker/processor_test.go
Due: gofmt

chore(reconciliation): remove temporary accent-insensitive workaround
  tests/reconciliation/diff_config.yaml
Due: none

docs(mvp): staged workplan for Parquet→DuckDB→Postgres→GraphQL demo pipeline (no destructive merges)
  docs/MVP_WORKPLAN.md
Due: none

feat(k8s): add PostGraphile deployment for vessel search API
  apps/postgraphile/Dockerfile
  apps/postgraphile/README.md
  apps/postgraphile/fly.toml
  clusters/tethys/apps/kustomization.yaml
  clusters/tethys/apps/postgraphile.yaml
  sql/create_vessels_ro_user.sql
Due: none

fix(k8s): add image pull secret to PostGraphile deployment
  clusters/tethys/apps/postgraphile.yaml
Due: none

fix(k8s): use correct image pull secret name (ghcr-creds)
  clusters/tethys/apps/postgraphile.yaml
  clusters/tethys/apps/training-worker-cronjob.yaml
Due: none

fix(k8s): URL-encode DATABASE_URL password special characters
  clusters/tethys/apps/postgraphile.yaml
Due: none

fix(security): move PostGraphile secrets to Pulumi ESC
  cluster/Pulumi.prod.yaml
  cluster/src/index.ts
  clusters/tethys/apps/postgraphile.yaml
Due: typescript-build-cluster

fix(cluster): disable CSV ingestion worker
  cluster/Pulumi.prod.yaml
Due: none

fix(k8s): add egress label and remove lsAdapter references
  cluster/src/index.ts
  clusters/tethys/apps/postgraphile.yaml
Due: typescript-build-cluster

fix(postgraphile): add proper SSL certificate validation
  apps/postgraphile/Dockerfile
Due: none

fix(network): allow direct TCP egress for database connections
  infrastructure/egress-network-policy.yaml
Due: none

fix(gitignore): only ignore TypeScript build outputs, not app source files
  .gitignore
  apps/postgraphile/server.js
Due: none

fix: apply PostGraphile ESC configuration (us-east-2)
  cluster/.trigger-deploy
Due: none

chore: trigger deployment for PostGraphile ESC update
  cluster/.trigger-deploy
  cluster/src/index.ts
Due: typescript-build-cluster

fix: remove postgraphileDatabaseUrl from Pulumi.prod.yaml to force ESC lookup
  cluster/Pulumi.prod.yaml
Due: none

Add PostGraphile database URL to ESC and remove local encrypted value
  cluster/src/index.ts
Due: typescript-build-cluster

Switch PostGraphile to direct Supabase connection (port 5432)
  cluster/src/index.ts
Due: typescript-build-cluster

Switch PostGraphile to Supabase shared pooler for IPv4 support
  cluster/src/index.ts
Due: typescript-build-cluster

Configure PostGraphile to only introspect public schema
  clusters/tethys/apps/postgraphile.yaml
Due: none

Switch PostGraphile to Crunchy Bridge for vessels data
  cluster/src/index.ts
Due: typescript-build-cluster

fix: use IP address for PostGraphile Crunchy Bridge connection
  cluster/src/index.ts
Due: typescript-build-cluster

feat: strict TLS for Crunchy Bridge + Make targets for schema management
  Makefile
  apps/postgraphile/server.js
Due: none

ci: add PostGraphile to build workflow + enforce buildx
  .github/workflows/build-images.yml
  .pre-commit-config.yaml
  scripts/ci/enforce_docker_buildx.sh
Due: none

docs: update PostGraphile for Crunchy Bridge deployment
  apps/postgraphile/README.md
  apps/postgraphile/fly.toml
Due: none

fix: use :main tag for PostGraphile image (match other services)
  .github/workflows/build-images.yml
  clusters/tethys/apps/postgraphile.yaml
Due: none

fix: remove registry cache for PostGraphile initial build
  .github/workflows/build-images.yml
Due: none

chore: add .dockerignore for PostGraphile
  apps/postgraphile/.dockerignore
Due: none

test: trigger PostGraphile build after permissions fix
  apps/postgraphile/.dockerignore
Due: none

fix: use GHCR_TOKEN for package authentication
  apps/postgraphile/.dockerignore
Due: none

trigger: PostGraphile build with GHCR_TOKEN
  apps/postgraphile/server.js
Due: none

fix: actually use GHCR_TOKEN in workflow
  .github/workflows/build-images.yml
Due: none

trigger: test PostGraphile build with GHCR_TOKEN
  apps/postgraphile/server.js
Due: none

trigger: test build after enterprise policy changes
  apps/postgraphile/server.js
Due: none

test: trigger build after fixing enterprise+org+repo policies
  apps/postgraphile/.dockerignore
Due: none

Add registry cache to PostGraphile build
  .github/workflows/build-images.yml
Due: none

trigger: apply PostGraphile ESC configuration
  cluster/src/index.ts
Due: typescript-build-cluster

chore: create vessels database on Crunchy Bridge
  cluster/Pulumi.prod.yaml
Due: none

refactor: remove all Label Studio services from cluster
  cluster/src/index.ts
Due: typescript-build-cluster

fix: use relaxed TLS for Crunchy Bridge (Let's Encrypt cert issue)
  apps/postgraphile/server.js
Due: none
