Repository goldfish-inc/deepseek-ocr-vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, golangci-lint, typescript-build-cluster, typescript-build-cloud

.pre-commit-config.yaml:

repos:
  # Core hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Shell syntax + best practices
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        name: shellcheck (scripts)
        types_or: [shell]
        files: ^(scripts/|.*\.sh)$
        args: ["--severity=warning", "--format=gcc"]

  # Strict Bash syntax check (catches here-doc terminator mistakes)
  - repo: local
    hooks:
      - id: bash-n-syntax
        name: bash -n
        entry: bash
        args: ["-n"]
        language: system
        types_or: [shell]
        files: ^(scripts/|.*\.sh)$

  # Shell formatter (keeps heredoc and indent consistent)
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.10.0-1
    hooks:
      - id: shfmt
        args: ["-i", "2", "-ci", "-bn", "-sr"]
        files: ^(scripts/|.*\.sh)$

  # GitHub Actions workflow linter (lints run: sections; integrates with shellcheck if present)
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint-system
        args: ["-shellcheck="]

  # YAML lint (optionally extend later with a .yamllint config)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^(.*\.ya?ml)$
        args: ["-d", "{extends: default, rules: {line-length: disable, document-start: disable, indentation: {indent-sequences: consistent}, comments: {min-spaces-from-content: 1}, brackets: {min-spaces-inside: 0, max-spaces-inside: 1}}}"]

  # Go linting and formatting
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: gofmt -l -w
        language: system
        types: [go]
        pass_filenames: true
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd apps/ls-triton-adapter && golangci-lint run --fix --timeout=5m'
        language: system
        types: [go]
        pass_filenames: false
        files: ^apps/ls-triton-adapter/

  # TypeScript compilation check
  - repo: local
    hooks:
      - id: typescript-build-cluster
        name: TypeScript Build (cluster)
        entry: bash -c 'pnpm --filter @oceanid/cluster build'
        language: system
        types_or: [ts, tsx]
        pass_filenames: false
        files: ^cluster/.*\.ts$
      - id: typescript-build-cloud
        name: TypeScript Build (cloud)
        entry: bash -c 'pnpm --filter @oceanid/cloud build'
        language: system
        types_or: [ts, tsx]
        pass_filenames: false
        files: ^cloud/.*\.ts$

feat(cloud): enable K3s provisioning for architecture testing
  cloud/Pulumi.prod.yaml
Due: none

fix(cloud): add SSH keys and K3s credentials from ESC
  cloud/Pulumi.prod.yaml
Due: none

fix(cloud): use correct ESC reference format for SSH keys
  cloud/Pulumi.prod.yaml
Due: none

fix(cloud): disable K3s provisioning - requires self-hosted runner
  cloud/Pulumi.prod.yaml
Due: none

fix(cloud): K3s provisioning template syntax and ESC config
  cloud/Pulumi.prod.yaml
  cloud/src/components/k3sCluster.ts
  cloud/src/index.ts
Due: typescript-build-cloud

fix(cloud): two-phase K3s provisioning (tethys+styx only)
  cloud/src/components/k3sCluster.ts
  cloud/src/index.ts
  docs/operations/manual-calypso-join.md
Due: typescript-build-cloud

fix(cloud): update k3sToken with correct CA hash
  cloud/Pulumi.prod.yaml
Due: none

fix(cloud): remove SSH-breaking operations from node provisioning
  cloud/src/components/k3sCluster.ts
Due: typescript-build-cloud

refactor(cloud): remove Alpine support, Ubuntu-only provisioning
  cloud/src/components/k3sCluster.ts
Due: typescript-build-cloud

refactor: eliminate SSH dependency for cluster deployments
  .github/workflows/cluster-selfhosted.yml
  cloud/Pulumi.prod.yaml
Due: none

docs: update deployment workflow for SSH-free architecture
  CLAUDE.md
Due: none

fix(cluster): resolve kubeconfig precedence bug and switch to public IP
  .claude/settings.local.json
  .github/workflows/cluster-selfhosted.yml
  cluster/Pulumi.prod.yaml
  cluster/src/config.ts
  docs/operations/datastores.md
  docs/operations/networking.md
Due: typescript-build-cluster

refactor(cluster): improve kubeconfig portability and validation
  .claude/settings.local.json
  .github/workflows/cluster-selfhosted.yml
  cluster/Pulumi.prod.yaml
  cluster/src/config.ts
Due: typescript-build-cluster

fix(cluster): export KUBECONFIG in workflow step for immediate use
  .github/workflows/cluster-selfhosted.yml
  README.md
  cluster/README.md
  cluster/src/providers.ts
Due: typescript-build-cluster

feat(cluster): switch to GitHub-hosted runners with ESC kubeconfig
  .github/workflows/cluster-selfhosted.yml
  cluster/src/providers.ts
Due: typescript-build-cluster

fix(workflow): authenticate to Pulumi before fetching ESC kubeconfig
  .github/workflows/cluster-selfhosted.yml
Due: none

fix(workflow): use GitHub Secrets for kubeconfig instead of ESC
  .github/workflows/cluster-selfhosted.yml
Due: none

fix(cluster): remove corrupted nerLabels config key
  cluster/Pulumi.prod.yaml
Due: none

docs(cluster): add known issues and GitHub-hosted runner migration notes
  cluster/README.md
Due: none

chore: quiet health-check for non-present deployments; allow PKO chart version override; bump Pulumi CLI to 3.202.0
  .claude/settings.local.json
  .github/workflows/cluster-selfhosted.yml
  cluster/scripts/deployment-health-check.sh
  cluster/src/components/pulumiOperator.ts
Due: typescript-build-cluster

fix(flux): remove invalid validation field from Kustomization spec
  cluster/src/gitops/fluxBootstrap.ts
Due: typescript-build-cluster

fix(flux): remove PKO Stack from Flux management to unblock reconciliation
  clusters/tethys/kustomization.yaml
Due: none

fix(flux): stop overriding namespace in apps kustomization; keep HelmRepository in flux-system
  .claude/settings.local.json
  clusters/tethys/apps/kustomization.yaml
Due: none

fix(cluster): prevent Flux from pruning Pulumi-managed Label Studio secrets
  cluster/src/components/labelStudioSecrets.ts
Due: typescript-build-cluster

feat(infrastructure): add Triton Inference Server service for GPU workstation
  infrastructure/kustomization.yaml
  infrastructure/triton-inference-service.yaml
Due: none

chore(infrastructure): remove obsolete Triton Service/Endpoints manifest
  infrastructure/kustomization.yaml
  infrastructure/triton-inference-service.yaml
Due: none

docs: update architecture for calypso as K3s cluster member
  docs/architecture/KUBERNETES_ARCHITECTURE.md
  docs/architecture/NETWORK_ARCHITECTURE.md
  docs/operations/networking.md
Due: none

feat: implement multi-dataset annotation routing with vertical dimensions
  .claude/settings.local.json
  .github/workflows/train-ner.yml
  CLAUDE.md
  apps/annotations-sink/main.go
  apps/annotations-sink/outbox.go
  apps/training-worker/Dockerfile
  apps/training-worker/entrypoint.py
  cloud/README.md
  cluster/src/components/annotationsSink.ts
  cluster/src/components/lsTritonAdapter.ts
  docs/architecture/go-services.md
  docs/architecture/openzl-parquet-etl.md
  docs/dataset-cards/pdfs_README_TEMPLATE.md
  docs/datasets/pdfs.md
  docs/operations/ml-backend-and-ingest.md
  docs/operations/overview.md
  scripts/hf_xet_pdf_uploader.py
  scripts/normalize_ner_from_outbox.py
Due: gofmt, typescript-build-cluster

ci: fix workflows (pre-commit Go, gitleaks guard, policy alignment)
  .github/workflows/gitleaks.yml
  .github/workflows/policy-enforcement.yml
  .github/workflows/pre-commit.yml
  .gitignore
Due: none

multi-dataset routing, validation, metrics, audit
  .github/workflows/train-ner.yml
  apps/annotations-sink/go.mod
  apps/annotations-sink/go.sum
  apps/annotations-sink/main.go
  apps/annotations-sink/main_test.go
  apps/annotations-sink/metrics.go
  apps/annotations-sink/outbox.go
  cluster/src/index.ts
  docs/architecture/go-services.md
  docs/architecture/openzl-parquet-etl.md
  docs/operations/auditing.md
  docs/operations/checklists/ESC_MULTI_DATASET.md
  docs/operations/ml-backend-and-ingest.md
  scripts/coverage_ner.py
  scripts/docling_stats.py
Due: gofmt, typescript-build-cluster

ops(grafana): add sink dashboard + publish workflow (#131)
  .github/workflows/publish-grafana-dashboard.yml
  cloud/README.md
  dashboards/oceanid-sink.json
  docs/operations/grafana.md
Due: none

monitoring: Prometheus Operator + ServiceMonitors
  .claude/settings.local.json
  .github/workflows/set-grafana-remote-write.yml
  cloud/README.md
  cluster/src/components/prometheusOperator.ts
  cluster/src/index.ts
Due: typescript-build-cluster

Fix cloudflared egress and enable GPU runtime
  cluster/legacy/cloudflare-tunnel.ts
  cluster/src/components/cloudflareTunnel.ts
  cluster/src/components/hostCloudflared.ts
  docs/architecture/k3-audit.md.txt
  docs/operations/gpu-runtime.md
  infrastructure/cloudflare-private-network.yaml
  infrastructure/egress-gateway.yaml
Due: typescript-build-cluster

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

fix: clean claude workflows whitespace
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore: add k3s token rotator stub
  cluster/src/components/k3sTokenRotator.ts
Due: typescript-build-cluster

fix: add missing :8080 port to Label Studio URL for project-bootstrapper
  cluster/src/index.ts
Due: typescript-build-cluster

feat: add Grafana monitoring and backfill script
  cluster/src/components/prometheusOperator.ts
  dashboards/oceanid-health-alerts.json
  scripts/backfill-webhooks.sh
Due: typescript-build-cluster

chore: remove hardcoded Pulumi versions - use latest stable
  .github/workflows/cloud-infrastructure.yml
  .github/workflows/cluster-selfhosted.yml
Due: none
