Repository goldfish-inc/deepseek-ocr-vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, golangci-lint, typescript-build-cluster, typescript-build-cloud

gofmt:
  name: gofmt
  entry: gofmt -l -w
  language: system
  pass_filenames: true

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd apps/ls-triton-adapter && golangci-lint run --fix --timeout=5m'
  language: system
  pass_filenames: false

typescript-build-cluster:
  name: TypeScript Build (cluster)
  entry: bash -c 'pnpm --filter @oceanid/cluster build'
  language: system
  pass_filenames: false

typescript-build-cloud:
  name: TypeScript Build (cloud)
  entry: bash -c 'pnpm --filter @oceanid/cloud build'
  language: system
  pass_filenames: false

🧠 NER pipeline modernization + backlog-as-code
  .claude/settings.local.json
  .github/actionlint.yaml
  .github/issue-manifest.json
  .github/workflows/seed-backlog.yml
  .github/workflows/smoke-ner.yml
  .github/workflows/train-ner.yml
  Makefile
  apps/ls-triton-adapter/main.go
  apps/ner-training/README.md
  apps/ner-training/environment.yml
  apps/ner-training/export_onnx.py
  apps/ner-training/requirements-lock.txt
  apps/ner-training/requirements.txt
  apps/ner-training/train_ner.py
  apps/spark-jobs/ner-preproc/README.md
  scripts/export_onnx.sh
  scripts/ner_train.py
  scripts/requirements-ner.txt
  scripts/smoke_ner.sh
Due: gofmt, golangci-lint

🔧 Triton ORT config + cluster access docs update
  CLAUDE.md
  apps/ner-training/config.pbtxt.template
Due: none

🧪 Add label order unit tests for adapter (#166)
  .claude/settings.local.json
  apps/ls-triton-adapter/label_order_test.go
  apps/ls-triton-adapter/testdata/golden-labels.json
Due: gofmt, golangci-lint

📝 GPU runner setup documentation (#162)
  docs/GPU_RUNNER_SETUP.md
Due: none

feat(ner): modern ONNX exporter + Spark GTX pipeline scaffold (#160, #173)
  Makefile
  apps/ner-training/export_onnx.py
  apps/spark-jobs/ner-inference/job.py
  apps/spark-jobs/ner-preproc/job.py
Due: none

feat(ner): add batch Triton inference mode to Spark job (#173)
  Makefile
  apps/spark-jobs/ner-inference/job.py
Due: none

fix(ner): generate synthetic data inline for CI smoke tests
  scripts/smoke_ner.sh
Due: none

fix(ner): expand $WORK variable in synthetic data generator
  scripts/smoke_ner.sh
Due: none

fix(ner): pass WORK dir via env var to Python generator
  scripts/smoke_ner.sh
Due: none

debug(ner): add verbose output to data preparation step
  scripts/smoke_ner.sh
Due: none

fix(ner): write temp Python file for synthetic data generation
  scripts/smoke_ner.sh
Due: none

fix(ner): handle sparse labels in smoke test metrics
  apps/ner-training/train_ner.py
Due: none

fix(ci): update GitHub Actions runner version to 2.329.0
  scripts/setup-gpu-runner.sh
Due: none

docs(ner): document DistilBERT torch.export limitation
  apps/ner-training/ONNX_EXPORT_NOTES.md
Due: none

feat: add annotation sink, prelabel pipeline, and NER improvements
  .claude/settings.local.json
  .github/issue-manifest.json
  .github/workflows/smoke-ner.yml
  .github/workflows/train-ner.yml
  Makefile
  apps/annotation-sink/go.mod
  apps/annotation-sink/main.go
  apps/ls-triton-adapter/README.md
  apps/ls-triton-adapter/csv_prelabel.go
  apps/ls-triton-adapter/main.go
  apps/ner-training/README.md
  apps/ner-training/export_onnx.py
  apps/spark-jobs/conf/rapids.conf
  apps/spark-jobs/ner-inference/job.py
  apps/spark-jobs/ner-preproc/README.md
  docs/architecture/ls-prelabel-pipeline.md
  scripts/check-ort-gpu.py
  scripts/smoke_ner.sh
  sql/migrations/20251018_intelligence_db.sql
Due: gofmt, golangci-lint

fix(docker): pin apt package versions in training-worker Dockerfile
  apps/training-worker/Dockerfile
Due: none

feat(cluster): deploy training-worker CronJob for Active Learning pipeline (#197)
  cluster/clusters/tethys/apps.yaml
  cluster/clusters/tethys/apps/kustomization.yaml
  cluster/clusters/tethys/apps/training-worker-cronjob.yaml
Due: none

fix(flux): deploy training-worker CronJob (#197)
  clusters/tethys/apps/kustomization.yaml
  clusters/tethys/apps/label-studio-release.yaml
  clusters/tethys/apps/training-worker-cronjob.yaml
Due: none

fix(prometheus): change ls-triton-adapter scrape path from /health to /metrics
  .claude/settings.local.json
  cluster/Pulumi.prod.yaml
  cluster/src/components/prometheusOperator.ts
Due: typescript-build-cluster

chore: disable AI/ML smoke tests from automatic PR triggers
  .github/workflows/smoke-ner.yml
Due: none

V7-V11: stage alignment, curated core, provenance, and temporal assertions
  .github/workflows/db-tests.yml
  .github/workflows/guard-paused-modules.yml
  .pre-commit-config.yaml
  FOCUS.md
  Makefile
  README.md
  docs/DB_ROADMAP.md
  docs/operations/overview.md
  scripts/ci/guard_paused_modules.sh
  scripts/ci/run_db_tests.sh
  sql/README.md
  sql/SCHEMA_STATUS.md
  sql/emergency_schema_patch.sql
  sql/migrations/V10__dataset_registry.sql
  sql/migrations/V11__temporal_assertions.sql
  sql/migrations/V12__stage_to_curated_promotions.sql
  sql/migrations/V4__curated_reference_tables.sql
  sql/migrations/V5__curated_temporal_events.sql
  sql/migrations/V7__stage_contract_alignment.sql
  sql/migrations/V8__curated_core_entities.sql
  sql/migrations/V9__vessels_enrichment_view.sql
  sql/migrations/consolidated_cleandata_schema.sql
  sql/tests/README.md
  sql/tests/phase0/test_schemas_exist.sql
  sql/tests/phase0/test_stage_tables_exist.sql
  sql/tests/phase0/test_stage_worker_contract.sql
  sql/tests/phase1/test_curated_core.sql
  sql/tests/phase1/test_dataset_registry.sql
  sql/tests/phase1/test_temporal_assertions.sql
  sql/tests/phase2/test_enrichment_view.sql
  sql/tests/phase2/test_promotion_confidence_precedence.sql
  sql/tests/phase2/test_promotion_idempotent.sql
Due: none

docs: update roadmap and schema status after phase 2 merge
  docs/DB_ROADMAP.md
  sql/SCHEMA_STATUS.md
Due: none

feat: RFMO reconciliation Phase B - IATTC/NPFC/NEAFC validation (all ≥99%)
  .gitattributes
  .gitignore
  apps/csv-ingestion-worker/Dockerfile
  apps/csv-ingestion-worker/main.go
  apps/csv-ingestion-worker/parser.go
  apps/csv-ingestion-worker/processor.go
  scripts/reconciliation/phase_b_diff.py
  scripts/reconciliation/phase_b_pipeline_run.sh
  scripts/reconciliation/run_phase_b.sh
  tests/reconciliation/PHASE_B_SUMMARY.md
  tests/reconciliation/PHASE_C_SUMMARY.md
  tests/reconciliation/QUICKSTART.md
  tests/reconciliation/README.md
Due: gofmt

docs: add Phase B helper scripts and release note
  docs/releases/rfmo-phaseb-2025-11-03.md
  scripts/reconciliation/rebuild_worker_image.sh
  scripts/reconciliation/run_iattc_phase_b.sh
  tests/reconciliation/PHASE_B_SUMMARY.md
  tests/reconciliation/PHASE_C_SUMMARY.md
  tests/reconciliation/QUICKSTART.md
  tests/reconciliation/README.md
Due: none

feat(reconciliation): add config-driven diff harness with env overrides
  scripts/reconciliation/phase_b_diff.py
  tests/reconciliation/QUICKSTART.md
  tests/reconciliation/README.md
  tests/reconciliation/diff_config.yaml
Due: none

fix(security): upgrade all Go apps to 1.24.9 to resolve stdlib vulnerabilities
  apps/annotations-sink/Dockerfile
  apps/csv-ingestion-worker/Dockerfile
  apps/ls-triton-adapter/Dockerfile
  apps/ocr-service/Dockerfile
  apps/pdf-ingestion-worker/Dockerfile
  apps/project-bootstrapper/Dockerfile
Due: none

fix(reconciliation): harden Phase B export and diff normalization
  scripts/reconciliation/phase_b_diff.py
  scripts/reconciliation/phase_b_pipeline_run.sh
Due: none

fix: stabilize extraction export and normalize diff subsets; add export failure doc
  docs/issues/phaseb-export-silent-failure.md
  scripts/reconciliation/phase_b_pipeline_run.sh
  tests/reconciliation/PHASE_C_SUMMARY.md
Due: none

feat(diff): robust date normalization with dual-scheme match; batch runner resilience + final summary refresh
  scripts/reconciliation/phase_b_diff.py
  scripts/reconciliation/run_phase_b_batch.sh
Due: none

fix(reconciliation): add numpy import and conda python for diff harness
  scripts/reconciliation/phase_b_diff.py
  scripts/reconciliation/run_phase_b.sh
  scripts/reconciliation/run_phase_b_batch.sh
  tests/reconciliation/PHASE_C_SUMMARY.md
Due: none

docs(reconciliation): Phase B complete results and config enhancements
  scripts/reconciliation/phase_b_diff.py
  tests/reconciliation/PHASE_C_SUMMARY.md
  tests/reconciliation/diff_config.yaml
Due: none

docs(reconciliation): add Phase B reproduction guide
  tests/reconciliation/README.md
Due: none

feat(diff): Unicode NFC, value mappings, numeric precision, scoped date parsing, accent-insensitive compare
  scripts/reconciliation/phase_b_diff.py
  tests/reconciliation/diff_config.yaml
Due: none

feat(diff): join-key row alignment with IMO; coverage metrics and safe fallback (#263)
  .github/PULL_REQUEST_TEMPLATE/post-unicode-nfc.md
  docs/reconciliation/MERGE_CHECKLIST.md
  docs/reconciliation/QUICK_REFERENCE.md
  docs/reconciliation/null-aware-metrics.md
  scripts/reconciliation/phase_b_diff.py
  scripts/reconciliation/validate_reconciliation.py
  tests/reconciliation/PHASE_C_SUMMARY.md
  tests/reconciliation/README.md
  tests/reconciliation/diff_config.yaml
  tests/reconciliation/validation_thresholds.yaml
Due: none

feat(reconciliation): add make reconcile-guard target for local validation
  Makefile
Due: none

chore: add CI workflows, MCP config, and new services
  .claude/settings.local.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/actionlint.yml
  .github/workflows/docs-lint.yml
  .github/workflows/extraction-python.yml
  .github/workflows/go-quality.yml
  .github/workflows/pr-gates.yml
  .mcp.json
  apps/ocr-service/go.mod
  apps/ocr-service/main.go
  apps/ocr-service/main_test.go
  apps/pdf-ingestion-worker/go.mod
  apps/pdf-ingestion-worker/main.go
  apps/spark-jobs/pdf-extract/job.py
  docs/adr/ADR-001-temporal-provenance-model.md
  docs/extraction.md
  docs/operations/dgx-spark-join.md
  docs/operations/reference.md
  docs/projects/triton-monitoring-rollout.md
  policy/opa_coverage_check.sh
  scripts/batch_extract.py
  scripts/ls_pull_and_extract.py
  scripts/pdf_extract.py
  scripts/requirements-extraction.txt
  scripts/requirements-labelstudio.txt
  scripts/tests/test_batch_extract.py
  scripts/tests/test_pdf_extract.py
  scripts/tests/test_strict_modes.py
  tests/reconciliation/.gitkeep
Due: gofmt

chore: ignore local Claude settings
  .gitignore
Due: none

fix(security): upgrade Go to 1.24.8 to address critical stdlib vulnerabilities (#267)
  .github/workflows/govulncheck.yml
  .markdownlint-cli2.yaml
  .markdownlint.yaml
  CLAUDE.md
  apps/annotation-sink/go.mod
  apps/annotation-sink/go.sum
  apps/annotation-sink/main.go
  apps/annotations-sink/go.mod
  apps/csv-ingestion-worker/go.mod
  apps/ls-triton-adapter/go.mod
  apps/ocr-service/go.mod
  apps/pdf-ingestion-worker/go.mod
  apps/project-bootstrapper/go.mod
Due: gofmt

feat(reconciliation): composite key alignment with multi-set fallback (#265)
  apps/annotation-sink/go.mod
  apps/csv-ingestion-worker/parser.go
  docs/reconciliation/null-aware-metrics.md
  scripts/reconciliation/debug_ccsbt_composites.py
  scripts/reconciliation/phase_b_diff.py
  tests/reconciliation/README.md
  tests/reconciliation/diff_config.yaml
Due: gofmt

feat(reconciliation): composite key normalization for punctuation variance (#266)
  apps/annotation-sink/go.mod
  apps/annotations-sink/go.mod
  apps/csv-ingestion-worker/go.mod
  apps/ls-triton-adapter/go.mod
  apps/ocr-service/go.mod
  apps/pdf-ingestion-worker/go.mod
  apps/project-bootstrapper/go.mod
  docs/reconciliation/null-aware-metrics.md
  scripts/reconciliation/phase_b_diff.py
  scripts/reconciliation/validate_reconciliation.py
  tests/reconciliation/PHASE_C_SUMMARY.md
  tests/reconciliation/README.md
  tests/reconciliation/diff_config.yaml
  tests/reconciliation/validation_thresholds.yaml
Due: none

Path conditions:
  gofmt: any of: \.go$
  golangci-lint: any of: ^apps/ls-triton-adapter/ and \.go$
  typescript-build-cluster: any of: ^cluster/.*\.ts$ and \.(ts|mts|cts)$, \.tsx$
  typescript-build-cloud: any of: ^cloud/.*\.ts$ and \.(ts|mts|cts)$, \.tsx$
