Repository goldfish-inc/deepseek-ocr-vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, golangci-lint, typescript-build-cluster, typescript-build-cloud

gofmt:
  name: gofmt
  entry: gofmt -l -w
  language: system
  pass_filenames: true

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd apps/ls-triton-adapter && golangci-lint run --fix --timeout=5m'
  language: system
  pass_filenames: false

typescript-build-cluster:
  name: TypeScript Build (cluster)
  entry: bash -c 'pnpm --filter @oceanid/cluster build'
  language: system
  pass_filenames: false

typescript-build-cloud:
  name: TypeScript Build (cloud)
  entry: bash -c 'pnpm --filter @oceanid/cloud build'
  language: system
  pass_filenames: false

fix(apps): correct Label Studio service targetPort to 8085
  clusters/tethys/apps/label-studio-release.yaml
Due: none

feat(csv-worker): add CSV ingestion worker for Label Studio data pipeline
  .claude/settings.local.json
  .github/workflows/build-images.yml
  @docs/oceanid-label-studio-refined.md
  @docs/oceanid-label-studio.md.txt
  apps/csv-ingestion-worker/Dockerfile
  apps/csv-ingestion-worker/database.go
  apps/csv-ingestion-worker/docker-compose.yml
  apps/csv-ingestion-worker/go.mod
  apps/csv-ingestion-worker/go.sum
  apps/csv-ingestion-worker/main.go
  apps/csv-ingestion-worker/parser.go
  apps/csv-ingestion-worker/processor.go
  apps/csv-ingestion-worker/test/data/sample_vessels.csv
  apps/csv-ingestion-worker/test/init.sql
  apps/csv-ingestion-worker/test/setup-minio.sh
  apps/csv-ingestion-worker/test/test-webhook.sh
  apps/csv-ingestion-worker/webhook.go
  cluster/src/components/csvIngestionWorker.ts
  cluster/src/index.ts
  docs/CLOUDFLARE_TUNNEL_TROUBLESHOOTING.md
  docs/infrastructure-improvements-2025-10.md
Due: gofmt, typescript-build-cluster

feat(db): create separate cleandata database for data pipeline
  .github/workflows/database-migrations.yml
  cloud/Pulumi.prod.yaml
  cloud/src/index.ts
Due: typescript-build-cloud

feat(db): consolidate cleandata schema and configure CSV worker
  cluster/src/index.ts
  sql/migrations/consolidated_cleandata_schema.sql
Due: typescript-build-cluster

docs: update documentation for CSV ingestion worker and cleandata database
  README.md
  docs/architecture/project-plan.md
  docs/operations/csv-ingestion-worker.md
  docs/operations/datastores.md
  test/verify-cleandata-connection.sh
Due: none

fix(cluster): disable ServiceMonitor for CSV worker until Prometheus installed
  cluster/src/components/csvIngestionWorker.ts
Due: typescript-build-cluster

fix(csv-worker): use stable Go 1.23 and add debugging tools
  apps/csv-ingestion-worker/Dockerfile
Due: none

fix(csv-worker): correct Go version to 1.23 in go.mod
  apps/csv-ingestion-worker/go.mod
Due: none

docs: mark Phase 1 as blocked due to schema/code mismatches
  docs/architecture/project-plan.md
Due: none

fix(db): add emergency schema patch for CSV worker startup
  sql/emergency_schema_patch.sql
Due: none

fix(csv-worker): upgrade to Go 1.24 and align dependencies
  apps/csv-ingestion-worker/Dockerfile
  apps/csv-ingestion-worker/go.mod
  apps/csv-ingestion-worker/go.sum
Due: none

fix(csv-worker): add missing dependency to go.sum
  apps/csv-ingestion-worker/go.mod
  apps/csv-ingestion-worker/go.sum
Due: none

feat(deploy): implement immutable image tags for CSV worker
  .github/workflows/deploy-cluster.yml
  apps/csv-ingestion-worker/.gitignore
  cluster/src/components/csvIngestionWorker.ts
  cluster/src/index.ts
  docs/SYSTEMIC_DEPLOYMENT_ISSUES.md
  docs/operations/csv-ingestion-worker.md
Due: typescript-build-cluster

docs: mark immutable image deployment as RESOLVED
  docs/SYSTEMIC_DEPLOYMENT_ISSUES.md
Due: none

feat(deploy): add immutable tags for bootstrapper and training-worker
  .github/workflows/deploy-cluster.yml
Due: none

feat(cluster): consume immutable images from ESC for all services
  cluster/src/components/annotationsSink.ts
  cluster/src/components/lsTritonAdapter.ts
  cluster/src/components/projectBootstrapper.ts
  cluster/src/index.ts
Due: typescript-build-cluster

docs(CLAUDE.md): document explicit SSH key requirement for git push
  CLAUDE.md
Due: none

fix(csv-worker): make S3 client initialization non-fatal
  apps/csv-ingestion-worker/main.go
Due: gofmt

fix(csv-worker): add timeouts and debug logging to resolve startup hang
  apps/csv-ingestion-worker/Dockerfile
  apps/csv-ingestion-worker/database.go
  apps/csv-ingestion-worker/go.mod
  apps/csv-ingestion-worker/main.go
  cluster/src/components/csvIngestionWorker.ts
  docs/operations/csv-ingestion-worker.md
Due: gofmt, typescript-build-cluster

fix(csv-worker): revert to Go 1.24 to match dependency requirements
  apps/csv-ingestion-worker/Dockerfile
  apps/csv-ingestion-worker/go.mod
Due: none

docs: add CrunchyBridge firewall management documentation
  CLAUDE.md
  docs/operations/datastores.md
Due: none

feat(labelstudio): auto-configure S3 storages via provisioner
  cluster/src/index.ts
  docs/operations/ml-backend-and-ingest.md
Due: typescript-build-cluster

docs: document automatic S3 storage provisioning for Label Studio
  docs/operations/datastores.md
  docs/operations/overview.md
Due: none

docs(SME): clarify per-project S3 storage now auto-provisioned
  @docs/guides/SME/project-setup.mdx
Due: none

docs(SME): expand guide with diagrams, quick reference, and FAQ
  @docs/guides/SME/project-setup.mdx
Due: none

fix(cluster): move nerLabelsJson definition before usage
  cluster/src/index.ts
Due: typescript-build-cluster

feat(labelstudio): per-project S3 prefixes and update SME docs
  @docs/guides/SME/project-setup.mdx
  cluster/src/index.ts
  docs/operations/datastores.md
  docs/operations/overview.md
Due: typescript-build-cluster

feat(ci): add multi-layer deployment safety checks
  .github/workflows/cluster-selfhosted.yml
  .husky/pre-push
Due: none

fix(ci): move image validation to build workflow, remove from deploy
  .github/workflows/build-images.yml
  .github/workflows/cluster-selfhosted.yml
Due: none

feat(project-bootstrapper): auto-configure S3 storage via PROJECT_CREATED webhook
  .githooks/pre-push
  apps/project-bootstrapper/main.go
  cluster/src/components/projectBootstrapper.ts
  cluster/src/index.ts
Due: gofmt, typescript-build-cluster

fix(bootstrapper): resolve P0 critical configuration gaps (#93)
  apps/project-bootstrapper/main.go
  cluster/src/index.ts
Due: gofmt, typescript-build-cluster

fix(bootstrapper): switch from scratch to alpine base for DNS resolver support
  apps/project-bootstrapper/Dockerfile
Due: none

feat(ci): add comprehensive deployment health checks to cluster pipeline
  .github/workflows/cluster-selfhosted.yml
  cluster/scripts/deployment-health-check.sh
Due: none

feat(tailscale): add GitOps ACL management
  .github/workflows/tailscale-acl.yml
  policy.hujson
Due: none

fix(tailscale): update ACL to use grants format instead of acls
  policy.hujson
Due: none

feat(tailscale): add K8s-native exit node for unified egress IP
  cluster/src/components/tailscaleOperator.ts
  cluster/src/components/tailscaleSubnetRouter.ts
  cluster/src/index.ts
Due: typescript-build-cluster

fix(tailscale): add tag:k8s-operator to ACL policy
  policy.hujson
Due: none

fix(tailscale): correct TS_TAILNET format to goldfish-inc@github.com
  policy.hujson
Due: none

Path conditions:
  gofmt: any of: \.go$
  golangci-lint: any of: ^apps/ls-triton-adapter/ and \.go$
  typescript-build-cluster: any of: ^cluster/.*\.ts$ and \.(ts|mts|cts)$, \.tsx$
  typescript-build-cloud: any of: ^cloud/.*\.ts$ and \.(ts|mts|cts)$, \.tsx$
