Repository goldfish-inc/deepseek-ocr-vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, golangci-lint, typescript-build-cluster, typescript-build-cloud

gofmt:
  name: gofmt
  entry: gofmt -l -w
  language: system
  pass_filenames: true

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd apps/ls-triton-adapter && golangci-lint run --fix --timeout=5m'
  language: system
  pass_filenames: false

typescript-build-cluster:
  name: TypeScript Build (cluster)
  entry: bash -c 'pnpm --filter @oceanid/cluster build'
  language: system
  pass_filenames: false

typescript-build-cloud:
  name: TypeScript Build (cloud)
  entry: bash -c 'pnpm --filter @oceanid/cloud build'
  language: system
  pass_filenames: false

fix(tailscale): correct TS_TAILNET to goldfish-inc.org.github
  policy.hujson
Due: none

fix(tailscale): use dedicated operator OAuth client for device permissions
  cluster/src/index.ts
Due: typescript-build-cluster

fix(tailscale): add timeout and replaceOnChanges to prevent stale pods
  cluster/src/components/tailscaleOperator.ts
Due: typescript-build-cluster

fix(tailscale): create ServiceAccount for subnet router
  cluster/src/components/tailscaleSubnetRouter.ts
Due: typescript-build-cluster

chore: update Husky hook format for v10 compatibility
  .husky/pre-push
Due: none

fix(tailscale): use deleteBeforeReplace to handle Helm ownership conflicts
  cluster/src/components/tailscaleOperator.ts
Due: typescript-build-cluster

feat(infra): prevent Helm ownership conflicts with automated cleanup
  CLAUDE.md
  cluster/scripts/preflight-check.sh
  cluster/src/components/tailscaleOperator.ts
Due: typescript-build-cluster

fix(tailscale): correct subnet router node selector label
  cluster/src/index.ts
Due: typescript-build-cluster

fix(tailscale): add RBAC permissions for subnet router
  cluster/src/components/tailscaleSubnetRouter.ts
Due: typescript-build-cluster

fix(config): update HF model repo and cleandata documentation
  cluster/Pulumi.prod.yaml
  cluster/sql/cleandata/README.md
Due: none

fix(label-studio): force nginx to use IPv4 (127.0.0.1) for upstream
  clusters/tethys/apps/label-studio-release.yaml
Due: none

fix(label-studio): correct Helm values path for nginx APP_HOST
  clusters/tethys/apps/label-studio-release.yaml
Due: none

fix(label-studio): add APP_HOST to global.extraEnvironmentVars for nginx IPv4
  clusters/tethys/apps/label-studio-release.yaml
Due: none

fix(label-studio): use Flux postRenderer to override nginx APP_HOST
  clusters/tethys/apps/label-studio-release.yaml
Due: none

fix(label-studio): expose AWS credentials for boto3
  clusters/tethys/apps/label-studio-release.yaml
Due: none

fix(label-studio): move extraEnvironmentSecrets to app level
  clusters/tethys/apps/label-studio-release.yaml
Due: none

fix(label-studio): correct secretKey field in extraEnvironmentSecrets
  clusters/tethys/apps/label-studio-release.yaml
Due: none

fix(project-bootstrapper): retry webhook registration indefinitely with exponential backoff
  apps/project-bootstrapper/main.go
Due: gofmt

feat(tailscale): automate host-level Tailscale for unified database egress
  CLAUDE.md
  apps/project-bootstrapper/main.go
  cluster/Pulumi.prod.yaml
  cluster/src/components/hostTailscale.ts
  cluster/src/index.ts
  docs/operations/datastores.md
Due: gofmt, typescript-build-cluster

fix(tailscale): disable host automation due to SSH connectivity issues
  CLAUDE.md
  cluster/Pulumi.prod.yaml
  cluster/src/index.ts
  docs/operations/datastores.md
Due: typescript-build-cluster

fix(infrastructure): disable calypso host automation due to SSH connectivity limitations
  cluster/Pulumi.prod.yaml
Due: none

feat(project-bootstrapper): deploy infinite retry logic
  cluster/Pulumi.prod.yaml
Due: none

docs: comprehensive infrastructure fixes and future-proof architecture plan
  ARCHITECTURE_FIXES_2025-10-12.md
Due: none

feat(infrastructure): implement DaemonSet-based Tailscale for unified egress
  infrastructure/kustomization.yaml
  infrastructure/tailscale-daemonset.yaml
Due: none

fix(tailscale): remove invalid hostname flag with variable expansion
  infrastructure/tailscale-daemonset.yaml
Due: none

fix(tailscale): correct exit node hostname to match actual tailnet name
  infrastructure/tailscale-daemonset.yaml
Due: none

fix(tailscale): temporarily remove exit node from workers to allow initial auth
  infrastructure/tailscale-daemonset.yaml
Due: none

fix(tailscale): simplify health probes to avoid grep dependency
  infrastructure/tailscale-daemonset.yaml
Due: none

docs: comprehensive Tailscale DaemonSet implementation success report
  TAILSCALE_DAEMONSET_SUCCESS.md
Due: none

audit: comprehensive Tailscale DaemonSet implementation review
  AUDIT_REPORT_TAILSCALE_DAEMONSET.md
Due: none

docs(architecture): comprehensive network and Kubernetes documentation with Mermaid diagrams
  docs/architecture/KUBERNETES_ARCHITECTURE.md
  docs/architecture/NETWORK_ARCHITECTURE.md
Due: none

fix(project-bootstrapper): increase HTTP timeouts and enable keep-alives
  AUDIT_REPORT_K3S_NETWORK_2025-10-13.md
  INFRASTRUCTURE_STATUS_2025-10-12.md
  apps/project-bootstrapper/main.go
  docs/architecture/KUBERNETES_ARCHITECTURE.md
  docs/architecture/NETWORK_ARCHITECTURE.md
Due: gofmt

fix(config): update bootstrapper image and kubeconfig path
  cluster/Pulumi.prod.yaml
Due: none

docs: Phase 1 audit report and phase reorganization
  PHASE_1_AUDIT_REPORT.md
Due: none

docs: incident recovery plan and future-proof networking architecture
  FUTURE_NETWORKING_ARCHITECTURE.md
  RECOVERY_PLAN_2025-10-13.md
  TAILSCALE_DAEMONSET_INCIDENT_2025-10-13.md
Due: none

docs(CLAUDE.md): add critical safety rules to prevent infrastructure breakage
  CLAUDE.md
Due: none

feat(cluster): add Alpine Linux support to k3sCluster component
  cluster/Pulumi.prod.yaml
  cluster/src/components/k3sCluster.ts
Due: typescript-build-cluster

fix(pre-commit): update shfmt hook to fix deprecated stage names
  .pre-commit-config.yaml
Due: none

feat(infrastructure): restructure K3s provisioning to eliminate circular dependencies
  cloud/Pulumi.prod.yaml
  cloud/package.json
  cloud/src/components/githubRunner.ts
  cloud/src/components/k3sCluster.ts
  cloud/src/components/k3sTokenRotator.ts
  cloud/src/index.ts
  cluster/src/components/migrationOrchestrator.ts
  cluster/src/index.ts
  pnpm-lock.yaml
Due: typescript-build-cluster, typescript-build-cloud

fix(cloud): disable database provisioning to unblock K3s testing
  cloud/Pulumi.prod.yaml
Due: none

Path conditions:
  gofmt: any of: \.go$
  golangci-lint: any of: ^apps/ls-triton-adapter/ and \.go$
  typescript-build-cluster: any of: ^cluster/.*\.ts$ and \.(ts|mts|cts)$, \.tsx$
  typescript-build-cloud: any of: ^cloud/.*\.ts$ and \.(ts|mts|cts)$, \.tsx$
