Repository goldfish-inc/deepseek-ocr-vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, golangci-lint, typescript-build-cluster, typescript-build-cloud

.pre-commit-config.yaml:

repos:
  # Core hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Shell syntax + best practices
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        name: shellcheck (scripts)
        types_or: [shell]
        files: ^(scripts/|.*\.sh)$
        args: ["--severity=warning", "--format=gcc"]

  # Strict Bash syntax check (catches here-doc terminator mistakes)
  - repo: local
    hooks:
      - id: bash-n-syntax
        name: bash -n
        entry: bash
        args: ["-n"]
        language: system
        types_or: [shell]
        files: ^(scripts/|.*\.sh)$

  # Shell formatter (keeps heredoc and indent consistent)
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.10.0-1
    hooks:
      - id: shfmt
        args: ["-i", "2", "-ci", "-bn", "-sr"]
        files: ^(scripts/|.*\.sh)$

  # GitHub Actions workflow linter (lints run: sections; integrates with shellcheck if present)
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint-system
        args: ["-shellcheck="]

  # YAML lint (optionally extend later with a .yamllint config)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^(.*\.ya?ml)$
        args: ["-d", "{extends: default, rules: {line-length: disable, document-start: disable, indentation: {indent-sequences: consistent}, comments: {min-spaces-from-content: 1}, brackets: {min-spaces-inside: 0, max-spaces-inside: 1}}}"]

  # Go linting and formatting
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: gofmt -l -w
        language: system
        types: [go]
        pass_filenames: true
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd apps/ls-triton-adapter && golangci-lint run --fix --timeout=5m'
        language: system
        types: [go]
        pass_filenames: false
        files: ^apps/ls-triton-adapter/

  # TypeScript compilation check
  - repo: local
    hooks:
      - id: typescript-build-cluster
        name: TypeScript Build (cluster)
        entry: bash -c 'pnpm --filter @oceanid/cluster build'
        language: system
        types_or: [ts, tsx]
        pass_filenames: false
        files: ^cluster/.*\.ts$
      - id: typescript-build-cloud
        name: TypeScript Build (cloud)
        entry: bash -c 'pnpm --filter @oceanid/cloud build'
        language: system
        types_or: [ts, tsx]
        pass_filenames: false
        files: ^cloud/.*\.ts$

fix: force pulumi/actions to use latest version instead of runner cache
  .github/workflows/cloud-infrastructure.yml
  .github/workflows/cluster-selfhosted.yml
Due: none

fix: hardcode Label Studio token to bypass ESC deployment delays
  cluster/src/index.ts
Due: typescript-build-cluster

fix: add detailed error logging for webhook registration
  apps/project-bootstrapper/main.go
Due: gofmt

feat: implement per-project webhook configuration with polling
  apps/project-bootstrapper/main.go
Due: gofmt

fix: use correct Label Studio webhook API endpoints
  apps/project-bootstrapper/main.go
Due: gofmt

debug: add logging to see actual webhook API response
  apps/project-bootstrapper/main.go
Due: gofmt

feat: improve project-bootstrapper dev experience
  apps/project-bootstrapper/Dockerfile
  apps/project-bootstrapper/main.go
  cluster/src/components/projectBootstrapper.ts
  docs/PROJECT_BOOTSTRAPPER_DX.md
Due: gofmt, typescript-build-cluster

fix: CSV worker smoke test with SKIP_DB_CHECK flag
  .github/workflows/build-images.yml
  apps/csv-ingestion-worker/main.go
Due: gofmt

feat: improve project-bootstrapper webhook sync and fix smoke tests
  apps/project-bootstrapper/main.go
  clusters/tethys/apps/label-studio-release.yaml
  scripts/egress-smoke.sh
Due: gofmt

chore: update project-bootstrapper to e0ffaa2 (webhook sync improvements)
  cluster/Pulumi.prod.yaml
Due: none

feat: automate project bootstrapper publishing
  .github/workflows/build-project-bootstrapper.yml
  docs/PROJECT_BOOTSTRAPPER_DX.md
Due: none

docs: add webhook auto-configuration workplan
  docs/WEBHOOK_AUTO_CONFIG_WORKPLAN.md
Due: none

docs: add SME-friendly data flow overview
  docs/guides/SME/data-flow.md
Due: none

docs: add workplan for automated pre-annotation pipeline
  docs/workplans/ml-preannotation-pipeline.md
Due: none

docs: simplify pre-annotation workplan (no owners)
  docs/workplans/ml-preannotation-pipeline.md
Due: none

docs: add DGX Spark integration plan and exec brief
  docs/briefs/dgx-spark-exec-brief.md
  docs/workplans/dgx-spark-integration.md
Due: none

docs: add CSV pre-annotation workplan
  docs/workplans/csv-ner-preannotation.md
Due: none

docs: clarify DGX Spark plan as pre-arrival
  docs/workplans/dgx-spark-integration.md
Due: none

ops: add HF_HOME helper script and docs
  docs/operations/overview.md
  scripts/configure-hf-cache.sh
Due: none

feat: add multi-format document extraction for NER pre-annotation
  .github/workflows/build-images.yml
  apps/document-extraction-service/Dockerfile
  apps/document-extraction-service/README.md
  apps/document-extraction-service/deployment.yaml
  apps/document-extraction-service/main.py
  apps/document-extraction-service/requirements.txt
  apps/ls-triton-adapter/document_extraction.go
  apps/ls-triton-adapter/go.mod
  apps/ls-triton-adapter/go.sum
  apps/ls-triton-adapter/main.go
  cluster/src/components/lsTritonAdapter.ts
  clusters/tethys/apps/document-extraction.yaml
  clusters/tethys/apps/kustomization.yaml
Due: gofmt, golangci-lint, typescript-build-cluster

fix: add build tools for docling C extension compilation
  apps/document-extraction-service/Dockerfile
Due: none

feat: integrate Triton Docling for PDF table extraction
  .claude/settings.local.json
  apps/csv-ingestion-worker/webhook.go
  apps/document-extraction-service/deployment.yaml
  apps/ls-triton-adapter/go.mod
  apps/ls-triton-adapter/go.sum
  apps/ls-triton-adapter/integration_test.sh
  apps/ls-triton-adapter/main.go
  apps/ls-triton-adapter/s3_docling.go
  apps/ls-triton-adapter/triton_docling.go
  cluster/src/components/csvIngestionWorker.ts
  cluster/src/components/lsTritonAdapter.ts
Due: gofmt, golangci-lint, typescript-build-cluster

ci: add Docker image builds to pre-push hook
  .husky/pre-push
Due: none

chore: dependency updates and infrastructure improvements
  .claude/settings.local.json
  .gitignore
  apps/annotations-sink/go.mod
  apps/annotations-sink/go.sum
  apps/document-extraction-service/Dockerfile
  docs/briefs/dgx-spark-exec-brief.md
  scripts/requirements-ner.txt
  triton-models/dockling-granite-python/1/model.py
  triton-models/dockling-granite-python/config.pbtxt
Due: none

ci: replace Docker builds with fast validation in pre-push hook
  .husky/pre-push
  .pre-commit-config.yaml
Due: none

fix: improve pre-push Dockerfile validation
  .husky/pre-push
  apps/document-extraction-service/Dockerfile
Due: none

fix: update docling to latest version 2.57.0
  apps/document-extraction-service/requirements.txt
Due: none

fix: correct Docling mock response format in regression tests
  apps/ls-triton-adapter/regression_test.go
Due: gofmt, golangci-lint

fix: update Label Studio API authentication to use token exchange
  cluster/Pulumi.prod.yaml
  scripts/audit-ls-tasks.py
  scripts/verify-ml-backends.py
Due: none

docs: emphasize Pulumi ESC for ALL credentials, SSH as primary access
  CLAUDE.md
Due: none

docs: add comprehensive SME and technical guides for document processing
  docs/QUICK_REFERENCE_Document_Processing.md
  docs/SME_GUIDE_Document_Processing.md
  docs/architecture/ml-document-processing-flow.md
Due: none

fix: reuse LS access token during verification scripts
  scripts/audit-ls-tasks.py
  scripts/verify-ml-backends.py
Due: none

docs: complete CSV/XLSX documentation in QUICK_REFERENCE
  docs/QUICK_REFERENCE_Document_Processing.md
Due: none

docs: add Grafana MCP server documentation and usage guidance
  CLAUDE.md
Due: none

chore: add Grafana API token to Pulumi ESC configuration
  cluster/Pulumi.prod.yaml
Due: none

fix: resolve CI blockers for Dependabot security PRs (#159)
  apps/csv-ingestion-worker/Dockerfile
  apps/project-bootstrapper/Dockerfile
  apps/training-worker/Dockerfile
  scripts/requirements-ner.txt
Due: none

fix: update Alpine package versions to current (#159)
  apps/csv-ingestion-worker/Dockerfile
  apps/project-bootstrapper/Dockerfile
Due: none

fix: upgrade golang.org/x/net to v0.38.0 and use postgresql17-client
  CLAUDE.md
  apps/csv-ingestion-worker/Dockerfile
  apps/csv-ingestion-worker/go.mod
  apps/csv-ingestion-worker/go.sum
Due: none
