Repository goldfish-inc/deepseek-ocr-vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, golangci-lint, typescript-build-cluster, typescript-build-cloud

gofmt:
  name: gofmt
  entry: gofmt -l -w
  language: system
  pass_filenames: true

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd apps/ls-triton-adapter && golangci-lint run --fix --timeout=5m'
  language: system
  pass_filenames: false

typescript-build-cluster:
  name: TypeScript Build (cluster)
  entry: bash -c 'pnpm --filter @oceanid/cluster build'
  language: system
  pass_filenames: false

typescript-build-cloud:
  name: TypeScript Build (cloud)
  entry: bash -c 'pnpm --filter @oceanid/cloud build'
  language: system
  pass_filenames: false

fix: install CA certificates for proper TLS verification
  apps/postgraphile/Dockerfile
  apps/postgraphile/server.js
Due: none

fix: configure Node.js to use Alpine CA bundle for TLS
  apps/postgraphile/Dockerfile
Due: none

fix: revert to relaxed TLS for Crunchy Bridge
  apps/postgraphile/server.js
Due: none

feat: expose PostGraphile via Cloudflare Tunnel at graph.boathou.se
  cloud/src/index.ts
  cluster/src/index.ts
Due: typescript-build-cluster, typescript-build-cloud

Switch Cloudflare Tunnel to remote-managed configuration
  cloud/src/index.ts
  cluster/src/components/cloudflareTunnel.ts
Due: typescript-build-cluster, typescript-build-cloud

fix: add cloudflareAccountId to Pulumi config
  cloud/Pulumi.prod.yaml
Due: none

fix: update health check to only verify postgraphile deployment
  cluster/scripts/deployment-health-check.sh
Due: none

fix: add architectural fixes for Pulumi deployment reliability
  .github/workflows/cluster-selfhosted.yml
  cluster/src/components/cloudflareTunnel.ts
Due: typescript-build-cluster

feat: add aggressive crashloop prevention for cloudflared pods
  cluster/src/components/cloudflareTunnel.ts
Due: typescript-build-cluster

trigger: rebuild PostGraphile image for strict TLS
  apps/postgraphile/server.js
Due: none

docs: refresh networking architecture
  @docs/guides/SME/project-setup.mdx
  @docs/oceanid-label-studio-refined.md
  @docs/oceanid-label-studio.md.txt
  README.md
  docs/CLOUDFLARE_TUNNEL_TROUBLESHOOTING.md
  docs/IaC-vs-GitOps.md
  docs/ML_BACKEND_CONNECTION.md
  docs/QUICK_REFERENCE_Document_Processing.md
  docs/RESOURCE_OWNERSHIP.md
  docs/SME_GUIDE_Document_Processing.md
  docs/WEBHOOK_AUTO_CONFIG_WORKPLAN.md
  docs/briefs/dgx-spark-exec-brief.md
  docs/warp-setup-commands.md
  policy/opa-policies.rego
Due: none

fix(postgraphile): bypass CoreDNS for Crunchy Bridge hostname resolution
  clusters/tethys/apps/postgraphile.yaml
Due: none

fix(postgraphile): relax TLS verification for Crunchy Bridge hostnames
  apps/postgraphile/server.js
Due: none

refactor(postgraphile): remove unused Supabase TLS logic
  apps/postgraphile/server.js
Due: none

feat(cloudflare): add rate limiting for PostGraphile /graphql endpoint
  cloud/src/index.ts
Due: typescript-build-cloud

feat(monitoring): add cloudflared tunnel monitoring and alerting
  clusters/tethys/monitoring/cloudflared-alert.yaml
  clusters/tethys/monitoring/cloudflared-servicemonitor.yaml
Due: none

fix(postgraphile): remove egress=external label to allow direct database access
  clusters/tethys/apps/postgraphile.yaml
Due: none

fix(postgraphile): pin to tethys node to match Crunchy Bridge firewall allowlist
  clusters/tethys/apps/postgraphile.yaml
Due: none

fix(cloudflare): add CoreDNS to cloudflared for in-cluster service resolution
  cluster/src/components/cloudflareTunnel.ts
Due: typescript-build-cluster

revert(cloudflare): remove explicit DNS config that broke QUIC connectivity
  cluster/src/components/cloudflareTunnel.ts
Due: typescript-build-cluster

fix(cloudflare): force HTTP/2 protocol to bypass UDP/QUIC connectivity issues
  cluster/src/components/cloudflareTunnel.ts
Due: typescript-build-cluster

feat(cloudflared): re-enable QUIC protocol
  cluster/src/components/cloudflareTunnel.ts
Due: typescript-build-cluster

fix(cloudflared): force HTTP/2 protocol after failed QUIC/NOTRACK test
  cluster/src/components/cloudflareTunnel.ts
Due: typescript-build-cluster

docs(cloudflared): add QUIC re-enablement runbook and lock HTTP/2 mode
  docs/CLOUDFLARE_TUNNEL_TROUBLESHOOTING.md
  docs/operations/cloudflare-tunnel-quic.md
Due: none

fix(postgraphile): add ocean.goldfish.io to CORS allowlist
  cluster/Pulumi.prod.yaml
  cluster/src/index.ts
Due: typescript-build-cluster

feat(postgraphile): enable connection filter plugin for vessel search
  apps/postgraphile/Dockerfile
  apps/postgraphile/server.js
Due: none

fix(postgraphile): configure filter plugin for text search on all columns
  apps/postgraphile/server.js
Due: none

feat(admin): add EBISU collision review queue (enums, table, view, lifecycle fns)
  Makefile
  sql/ebisu_admin.sql
  sql/tests/quality_assertions.sql
Due: none

ci(reload): include open collision reviews and top unresolved groups in summary
  .github/workflows/reload-ebisu.yml
Due: none

docs(ebisu): document collision review queue, lifecycle functions, and link related docs
  docs/EBISU_IMPLEMENTATION_SUMMARY.md
  docs/ebisu-data-dictionary.md
Due: none

docs: add observability split note, UI RFC, pipeline workflows; link from README and docs index
  README.md
  dashboards/README.md
  docs/EBISU_PIPELINE_WORKFLOWS.md
  docs/README.md
  docs/RFC_UI_COLLISION_REVIEW.md
Due: none

feat: complete EBISU local setup with AMD64 platform and PostGraphile
  EBISU_LOCAL_SETUP_COMPLETE.md
  docker-compose.yml
Due: none

chore: specify 1Password vault UUIDs for secrets management
  CLAUDE.md
Due: none

feat: deploy Argilla NER annotation platform at label.boathou.se
  ARGILLA_DEPLOYMENT.md
  cloud/src/index.ts
  cluster/src/index.ts
  clusters/tethys/apps/argilla.yaml
  clusters/tethys/apps/kustomization.yaml
Due: typescript-build-cluster, typescript-build-cloud

fix: remove reference to disabled egress-network-policy
  infrastructure/kustomization.yaml
Due: none

fix(cloudflare): trigger deployment with updated API token permissions
  cloud/src/index.ts
Due: typescript-build-cloud

feat(cloudflare): migrate to modern Ruleset API for rate limiting
  cloud/src/index.ts
Due: typescript-build-cloud

Path conditions:
  gofmt: any of: \.go$
  golangci-lint: any of: ^apps/ls-triton-adapter/ and \.go$
  typescript-build-cluster: any of: ^cluster/.*\.ts$ and \.(ts|mts|cts)$, \.tsx$
  typescript-build-cloud: any of: ^cloud/.*\.ts$ and \.(ts|mts|cts)$, \.tsx$
