Repository goldfish-inc/deepseek-ocr-vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, golangci-lint, typescript-build-cluster, typescript-build-cloud

gofmt:
  name: gofmt
  entry: gofmt -l -w
  language: system
  pass_filenames: true

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd apps/ls-triton-adapter && golangci-lint run --fix --timeout=5m'
  language: system
  pass_filenames: false

typescript-build-cluster:
  name: TypeScript Build (cluster)
  entry: bash -c 'pnpm --filter @oceanid/cluster build'
  language: system
  pass_filenames: false

typescript-build-cloud:
  name: TypeScript Build (cloud)
  entry: bash -c 'pnpm --filter @oceanid/cloud build'
  language: system
  pass_filenames: false

fix(cloudflare): split rulesets by phase and add cf.colo.id
  cloud/src/index.ts
Due: typescript-build-cloud

fix(argilla): use separate DB env vars instead of URL interpolation
  clusters/tethys/apps/argilla.yaml
Due: none

fix(cloudflare): adjust rate limit for free tier and keep existing firewall rules
  cloud/src/index.ts
Due: typescript-build-cloud

fix(cloudflare): set mitigationTimeout to 10s for free tier
  cloud/src/index.ts
Due: typescript-build-cloud

feat: add Elasticsearch to Argilla deployment
  clusters/tethys/apps/argilla.yaml
Due: none

docs(cloudflare): document WAF rate limiting and API migration
  cloud/README.md
Due: none

fix(argilla): construct DATABASE_URL via shell command
  clusters/tethys/apps/argilla.yaml
Due: none

fix(argilla): add 'start' subcommand to argilla_server
  clusters/tethys/apps/argilla.yaml
Due: none

feat(cloudflare): reduce PostGraphile rate limit to 5 req/10s for data protection
  cloud/src/index.ts
Due: typescript-build-cloud

fix(argilla): disable SSL for internal PostgreSQL connection
  clusters/tethys/apps/argilla.yaml
Due: none

fix(argilla): use asyncpg protocol with ssl=false parameter
  clusters/tethys/apps/argilla.yaml
Due: none

feat(cloudflare): implement Cloudflare Access for PostGraphile API
  cloud/src/index.ts
Due: typescript-build-cloud

fix(argilla): use sslmode=disable instead of ssl=false for asyncpg
  clusters/tethys/apps/argilla.yaml
Due: none

fix(cloudflare): correct GitHub SSO policy syntax for Access
  cloud/src/index.ts
Due: typescript-build-cloud

fix(argilla): remove sslmode parameter from DATABASE_URL
  clusters/tethys/apps/argilla.yaml
Due: none

feat(cloudflare): implement service-token-only authentication for PostGraphile API
  cloud/Pulumi.prod.yaml
  cloud/src/index.ts
Due: typescript-build-cloud

feat(argilla): add Redis and fix configuration based on local testing
  clusters/tethys/apps/argilla.yaml
Due: none

feat(argilla): switch to Upstash managed Redis
  cluster/src/index.ts
  clusters/tethys/apps/argilla.yaml
Due: typescript-build-cluster

feat: implement Cloudflare Access authentication for PostGraphile API
  cloud/Pulumi.prod.yaml
  cloud/src/index.ts
Due: typescript-build-cloud

fix: use unique precedence for PostGraphile Access policy
  cloud/src/index.ts
Due: typescript-build-cloud

docs: document PostGraphile Cloudflare Access authentication
  cloud/README.md
Due: none

fix: remove faulty conditional preventing Argilla secret creation
  cluster/src/index.ts
Due: typescript-build-cluster

refactor: use existing non-expiring PostGraphile service token
  cloud/Pulumi.prod.yaml
  cloud/src/index.ts
Due: typescript-build-cloud

docs: update PostGraphile service token documentation
  cloud/README.md
Due: none

feat: add PostGraphile Access authentication testing
  cloud/README.md
  cloud/test-postgraphile-access.sh
Due: none

feat: store PostGraphile Access service token secret
  cloud/Pulumi.prod.yaml
Due: none

fix(cluster): switch K3s networking from Tailscale to eth0 for VPS nodes
  cluster/src/components/k3sNetworkReconfiguration.ts
  cluster/src/index.ts
Due: typescript-build-cluster

fix(argilla): correct health check endpoint from /api/v1/health to /health
  clusters/tethys/apps/argilla.yaml
Due: none

feat(argilla): add Hugging Face token for private dataset access
  cluster/src/index.ts
  clusters/tethys/apps/argilla.yaml
Due: typescript-build-cluster

feat(argilla): add server-side dataset importer with manual + scheduled triggers
  clusters/tethys/apps/ARGILLA_IMPORT.md
  clusters/tethys/apps/argilla-importer.yaml
Due: none

docs: add Vessel NER pipeline architecture and workplans
  VESSEL_NER_CLOUDFLARE_WORKPLAN.md
  VESSEL_NER_WORKPLAN.md
  clusters/tethys/apps/argilla-importer.yaml
Due: none

feat(infra): add DGX Spark Ollama tunnel infrastructure
  cloud/Pulumi.prod.yaml
  infrastructure/spark/README.md
  infrastructure/spark/cloudflared.service
  infrastructure/spark/deploy.sh
Due: none

refactor(spark): migrate secrets from GitHub to Pulumi ESC
  .github/actionlint.yaml
  .github/workflows/spark-ollama.yml
  infrastructure/spark/README.md
Due: none

feat(cloud): add Ollama proxy Worker with AI Gateway auth
  cloud/Pulumi.prod.yaml
  cloud/src/index.ts
  cloud/workers/README.md
  cloud/workers/ollama-proxy.ts
  cloud/workers/wrangler.toml
Due: typescript-build-cloud

fix(cloud): move aigAuthToken to Pulumi ESC
  cloud/Pulumi.prod.yaml
Due: none

feat(cloud): enable Ollama proxy Worker
  cloud/Pulumi.prod.yaml
Due: none

fix(cloud): add DNS record for Ollama proxy Worker
  cloud/src/index.ts
Due: typescript-build-cloud

fix(cloud): use modern ES modules format for Ollama Worker
  cloud/src/index.ts
Due: typescript-build-cloud

fix(cloud): enable module format for ES modules Worker
  cloud/src/index.ts
Due: typescript-build-cloud

fix(cloud): use boathou.se zone for Ollama Worker route
  cloud/src/index.ts
Due: typescript-build-cloud

Path conditions:
  gofmt: any of: \.go$
  golangci-lint: any of: ^apps/ls-triton-adapter/ and \.go$
  typescript-build-cluster: any of: ^cluster/.*\.ts$ and \.(ts|mts|cts)$, \.tsx$
  typescript-build-cloud: any of: ^cloud/.*\.ts$ and \.(ts|mts|cts)$, \.tsx$
